<?xml version='1.0' encoding='utf-8'?>
<Context>

        <WatchedResource>WEB-INF/web.xml</WatchedResource>

    <!--DB to store the reporting metadata -->
    <ResourceLink name="jdbc/reporting-api-db"
                  global="jdbc/reporting-api-db"
                  type="javax.sql.DataSource"
                  driverClassName="com.mysql.jdbc.Driver"
                  dataSourceClassName="com.mysql.jdbc.jdbc2.optional.MysqlConnectionPoolDataSource"
                  username ="username"
                  password="password"  />

    <!--target DB to run the queries -->
    <ResourceLink name="jdbc/target-db"
                      global="jdbc/target-db"
                      type="javax.sql.DataSource"
                      driverClassName="com.mysql.jdbc.Driver"
                      dataSourceClassName="com.mysql.jdbc.jdbc2.optional.MysqlConnectionPoolDataSource"
                      username ="username"
                      password="password"  />

</Context>
